:root {
  --thin: 200;
  --regular: 400;
  --bold: 700;
  --black: 900;
  --border-radius: 0.5em;
  --root-font-size: 16px;
  --h1-font-size: 2rem;
  --h2-font-size: 1.6rem;
  --h3-font-size: 1.4rem;
  --h4-font-size: 1.2rem;
  --bg-color: #181818;
  --fg-color: #fff;
  --button-bg: #333;
  --button-hover-bg: #444;
  --button-active-bg: #222;
  --transition: 0.2s;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  line-height: 2;
  margin: 1rem 0;
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}

.box {
  border-radius: var(--border-radius);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  background: #131313;
}

.box > h1 {
  margin-top: 0;
}

button {
  appearance: none;
  background: #333;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  font-size: var(--h4-font-size);
  font-weight: var(--bold);
  cursor: pointer;
  transition: var(--transition);
  vertical-align: text-top;
}

button.round {
  height: 40px;
  width: 40px;
  border-radius: 1em;
  font-size: var(--h3-font-size);
}

h1 > span + button {
  margin-left: 0.5rem;
}

button:hover {
  background: var(--button-hover-bg);
}

button:active {
  background: var(--button-active-bg);
  transform: translateY(0.05rem);
}

* {
  position: relative;
  box-sizing: border-box;
  outline: none;
}

input {
  background: var(--button-bg);
  color: var(--fg-color);
  border: 0;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.form-item {
  margin: 1rem 0;
}
